/* Style for Rating */
.rating-bg-color{
    background-color: #FFCC00;    
    color: white;
    padding: 4px 4px 4px 5px;
    white-space: nowrap;
}

/* Stle for the container with the ratings */
.rating-main-contnr{
    display: flex;
}
/* Style for the average price */
.avg-price{
    padding: 4px 4px 4px 5px;
    margin-left: auto;
}

/* Stle for the card media */
.card-media-img {
  height: 280px;
}

.name-ctr {
  min-height: 104px;
}

.category-ctr {
  min-height: 120px;
}