.rating-bg-color{
    background-color: #FFCC00;    
    color: white;
    padding: 4px 4px 4px 5px;
    white-space: nowrap;
}

.rating-main-contnr{
    display: flex;
}

.avg-price{
    padding: 4px 4px 4px 5px;
    margin-left: auto;
}

.card-media-img {
  height: 280px;
}

.name-ctr {
  min-height: 104px;
}

.category-ctr {
  min-height: 120px;
}