.restuarant-cover {
  padding: 24px 40px;
  background-color: #e0e0e0;
}

.ordering-section {
  padding: 40px;
}

.details-container {
  padding: 12px 28px;
}

.category-ctr {
  margin: 24px 0;
}

.image-ctr img {
  max-width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.restaurant-cover-section {
  padding: 12px;
}

.item-root {
  display: flex;
}

span.item-primary,
p.item-secondary {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  color: #000000;
}

ul.cart-item-list,
ul.cart-summary-list {
  padding: 8px;
}

.cart-item-label {
  display: inline-block;
  font-weight: bold;
  padding: 4px;
}

button.cart-item-action-btn {
  padding: 2px;
  font-weight: bold;
}

.rating-label {
  line-height: 30px;
  margin: 0;
}

.action-container {
  text-align: center;
}

/* Few Overriding styles for mobile screen */
@media only screen and (max-width: 600px) {
  .restaurant-cover-section {
    padding: 0;
  }

  .ordering-section {
    padding: 0;
  }

  .details-container {
    padding: 0;
  }

  .info-ctr {
    text-align: center;
  }

  .rating-label {
    justify-content: center;
  }

  .topMain {
    margin-right: -40px;
  }
}

button.cart-item-action-btn:hover,
button.cart-item-action-btn:active {
  background: yellow;
}
