.fa-inr {
  margin-right: 8px;
}

/* Following are commong styles for shopping cart used on details and checkout page */
.cart-item-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.cart-item-list-item {
  display: flex;
  flex: 0 0 100%;
  align-self: stretch;
  margin: 8px 0;
  align-items: center;
}

.cart-item-blk {
  flex: 1 1 0;
}

.cart-item-blk .dot {
  position: relative;
  display: block;
  height: 12px;
  width: 12px;
  border: 2px solid green;
  border-radius: 50%;
  padding: 2px;
}

.cart-item-blk .dot.red-dot {
  border-color: red;
}

.cart-item-blk .dot:after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid green;
}

.cart-item-blk .dot.red-dot:after {
  border-color: red;
}

.summary-card {
  padding: 20px;
}

.cart-item-blk.price {
  text-align: right;
}

.cart-summary-list {
  padding: 0
}

/* cart styles end here */